### Import liabraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import sweetviz as sv
import matplotlib.pyplot as plt
%matplotlib inline
sns.set_style('darkgrid')
from scipy import stats
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV,RandomizedSearchCV
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score,roc_auc_score,classification_report,roc_curve,auc, f1_score
from scipy.stats import randint
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings("ignore")

In [10]:
#Import dataset

data = pd.read_excel('INX_Future_Inc_Employee_Performance_CDS_Project2_Data_V1.8.xls')

In [11]:
# Top five value

data.head()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,EmpHourlyRate,EmpJobInvolvement,EmpJobLevel,EmpJobSatisfaction,NumCompaniesWorked,OverTime,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
0,E1001000,32,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,10,3,4,55,3,2,4,1,No,12,4,10,2,2,10,7,0,8,No,3
1,E1001006,47,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,14,4,4,42,3,2,1,2,No,12,4,20,2,3,7,7,1,7,No,3
2,E1001007,40,Male,Life Sciences,Married,Sales,Sales Executive,Travel_Frequently,5,4,4,48,2,3,1,5,Yes,21,3,20,2,3,18,13,1,12,No,4
3,E1001009,41,Male,Human Resources,Divorced,Human Resources,Manager,Travel_Rarely,10,4,2,73,2,5,4,3,No,15,2,23,2,2,21,6,12,6,No,3
4,E1001010,60,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,16,4,1,84,3,2,1,8,No,14,4,10,1,3,2,2,2,2,No,3

In [12]:
# Bottom five data value
data.tail()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,EmpHourlyRate,EmpJobInvolvement,EmpJobLevel,EmpJobSatisfaction,NumCompaniesWorked,OverTime,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
1195,E100992,27,Female,Medical,Divorced,Sales,Sales Executive,Travel_Frequently,3,1,4,71,4,2,4,1,Yes,20,2,6,3,3,6,5,0,4,No,4
1196,E100993,37,Male,Life Sciences,Single,Development,Senior Developer,Travel_Rarely,10,2,4,80,4,1,4,3,No,17,1,4,2,3,1,0,0,0,No,3
1197,E100994,50,Male,Medical,Married,Development,Senior Developer,Travel_Rarely,28,1,4,74,4,1,3,1,Yes,11,3,20,3,3,20,8,3,8,No,3
1198,E100995,34,Female,Medical,Single,Data Science,Data Scientist,Travel_Rarely,9,3,4,46,2,3,2,1,No,14,2,9,3,4,8,7,7,7,No,3
1199,E100998,24,Female,Life Sciences,Single,Sales,Sales Executive,Travel_Rarely,3,2,1,65,3,2,3,9,No,14,1,4,3,3,2,2,2,0,Yes,2

In [15]:
# Randomly five data value
data.sample(5)

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,EmpHourlyRate,EmpJobInvolvement,EmpJobLevel,EmpJobSatisfaction,NumCompaniesWorked,OverTime,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
738,E1002303,36,Female,Life Sciences,Divorced,Research & Development,Manufacturing Director,Travel_Frequently,4,2,4,97,3,2,2,7,No,13,2,18,3,3,4,2,0,2,No,3
135,E1001253,35,Female,Medical,Married,Sales,Sales Executive,Travel_Rarely,18,3,3,86,3,2,3,1,No,16,2,5,3,3,5,2,1,0,No,3
1199,E100998,24,Female,Life Sciences,Single,Sales,Sales Executive,Travel_Rarely,3,2,1,65,3,2,3,9,No,14,1,4,3,3,2,2,2,0,Yes,2
367,E1001661,34,Female,Technical Degree,Single,Research & Development,Healthcare Representative,Travel_Rarely,2,4,3,98,3,2,4,1,No,11,4,14,2,4,14,11,4,11,No,3
156,E1001284,38,Male,Medical,Married,Research & Development,Senior Manager R&D,Travel_Frequently,10,1,3,66,3,1,3,0,No,17,2,3,0,2,2,1,0,2,No,3

In [16]:
data.shape

(1200, 28)

### Domain Analysis

### Employee Information:
1. **EmpNumber:** A unique identifier for each employee.
2. **Age:** The age of the employee, indicating the demographic profile.
3. **Gender:** The gender of the employee.

### Education and Professional Background:
4. **EducationBackground:** The field of study or major in which the employee has an educational background.
5. **EmpEducationLevel:** The educational level achieved by the employee.

### Marital and Family Status:
6. **MaritalStatus:** Indicates whether the employee is single, married, or divorced.

### Job-related Information:
7. **EmpDepartment:** The department in the organization where the employee works.
8. **EmpJobRole:** The specific role or position the employee holds.
9. **BusinessTravelFrequency:** How often the employee travels for business purposes.
10. **DistanceFromHome:** The distance in miles from the employee's home to the workplace.
11. **EmpHourlyRate:** The hourly rate of pay for the employee.
12. **EmpJobInvolvement:** The level of involvement the employee has in their job.
13. **EmpJobLevel:** The hierarchical level of the employee's job.
14. **EmpJobSatisfaction:** The satisfaction level of the employee with their job.
15. **NumCompaniesWorked:** The number of companies the employee has worked for in the past.
16. **OverTime:** Whether the employee works overtime or not.
17. **EmpLastSalaryHikePercent:** The percentage increase in the employee's salary during the last hike.

### Work Environment and Relationships:
18. **EmpEnvironmentSatisfaction:** The satisfaction level of the employee with the work environment.
19. **EmpRelationshipSatisfaction:** The satisfaction level of the employee with work relationships.
20. **EmpWorkLifeBalance:** The satisfaction level of the employee with their work-life balance.

### Work Experience Information:
21. **TotalWorkExperienceInYears:** The total work experience of the employee.
22. **TrainingTimesLastYear:** The number of training sessions attended by the employee in the last year.
23. **ExperienceYearsAtThisCompany:** The number of years the employee has worked at the current company.
24. **ExperienceYearsInCurrentRole:** The number of years the employee has been in the current role.
25. **YearsSinceLastPromotion:** The number of years since the last promotion.
26. **YearsWithCurrManager:** The number of years the employee has been with the current manager.

### Outcomes and Performance:
27. **Attrition:** A binary indicator of whether the employee has left the company or not.
28. **PerformanceRating:** The performance rating assigned to the employee.

### Insights and Potential Analyses:
- **Attrition Prediction:** Explore factors contributing to employee attrition and build predictive models.
- **Performance Analysis:** Identify factors influencing employee performance ratings.
- **Job Satisfaction Study:** Analyze the relationship between job satisfaction and various employee attributes.
- **Work-Life Balance Impact:** Investigate how work-life balance satisfaction relates to other factors.
- **Career Progression Analysis:** Examine the impact of various factors on career progression within the company.